<h1> Create a New Garden </h1>

<%= form_for("/user/gardens/create") do |f| %>
  <%= f.label :name, 'Name of Garden:' %>
  <%= f.text_field :name %><br>
  <%= f.label :length, 'Length in feet:' %>
  <%= number_field_tag :length, nil, min: 1 %>
  <%= f.label :inches, 'Inches:' %>
  <%= number_field_tag :length, nil, min: 1 %><br>
  <%= f.label :width_feet, 'Width in feet:' %>
  <%= number_field_tag :width, nil, min: 1 %>
  <%= f.label :inches, 'Inches:' %>
  <%= number_field_tag :width, nil, min: 1 %><br>
  <%= label_tag :zip_code, '5 Digit Zip Code:' %>
  <%= f.number_field :zip_code %><br>
  <%= submit_tag 'Create Garden', class: 'submit' %>
<% end %>
