<h1> Create a New Garden </h1>

<%= form_tag "/users/gardens", method: :post do %>
  <%= label_tag :name, 'Name of Garden:' %>
  <%= text_field_tag :name %><br>

  <%= label_tag :length_feet, 'Length in feet:' %>
  <%= number_field_tag :length_feet, nil, min: 1 %>

  <%= label_tag :length_inches, 'Inches:' %>
  <%= number_field_tag :length_inches, nil, min: 1 %><br>

  <%= label_tag :width_feet, 'Width in feet:' %>
  <%= number_field_tag :width_feet, nil, min: 1 %>

  <%= label_tag :width_inches, 'Inches:' %>
  <%= number_field_tag :width_inches, nil, min: 1 %><br>

  <%= label_tag :zip_code, '5 Digit Zip Code:' %>
  <%= text_field_tag :zip_code %><br>
  
  <%= submit_tag 'Create Garden', class: 'submit' %>
<% end %>
