<!DOCTYPE html>
<html>
  <head>
    <title>GrowOps</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<header>
    <nav id="main-nav">
        <% if current_user %>
          Welcome <%= current_user.email %>!
          Grow Ops: What Will You Grow Today?
          <%= link_to "Logout", root_path, method: :delete %>
        <% end %>
    </nav>
    <hr>
  </header>
  <body>
    <%= yield %>
  </body>
    <footer>
      <small>2020 - Mod 3 Paired Project - Grow Ops<br>Nick Edwin, Chandler Hulstrom, Michael Alex Lynch, Ryan Laleh</small>
    </footer>
</html>
